.container-scroll{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll ;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.container-scroll::-webkit-scrollbar {
    display: none;  /*No firefox desktop nni movil */
}
.section{
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
}   
@media screen and (max-width:700px){
    .section{
        height: calc(var(--vh, 1vh) * 100);

    }
    .service{
    }
}