h2 {
  margin: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
body {
  color: $blanco;
  background-image: url("@/assets/img/fondo-pc.webp");
  background-size: 80%;
  background-repeat: repeat;
  position: relative;
}
h1,
h2 {
  font-family: $title-font;
  text-align: center;
}
h4,
h5 {
  font-size: $h4-font-size;
}
p {
  font-family: $admin-font;
  font-size: $font-weight-regular;
}
img {
  user-select: none;
}
input[type='text'] , input[type='date'] , input[type='password'] {
  color:#000000;
  padding: 5px;
  font-family: $admin-font;
  border-radius: 10px;
  border:none;
  &:focus{
    outline: 3px solid $primary-color-600;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("../src/assets/img/fondo-suficiencia-cel.webp");
  }
}
