.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.pagination__item {
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
}

.pagination__item a{
  width: 40px;
  height: 40px;
  min-width: 40px;
  text-align: center;
  padding: 7px;
}


.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  min-width: 40px;
  cursor: pointer;
  border-radius: 10px;
}

.pagination__link:hover {
  background-color: #356d6e;
  color: white;
}

.pagination__link--disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pagination__link--active {
  background-color: #1D3E3E;
  color: white;
}


