.table {
  width: 70%;
  border-collapse: collapse;
  border-radius: 10px;
}

.th,
.td {
  padding: 8px;
  text-align: center;
  background-color: #356d6e;
}

.td {
  border-bottom: 1px solid #fff;
  padding: 20px 0px;
}

tr:last-child .td {
  border-bottom: none;
}

.th {
  background-color: #02484a;
}

.button {
  margin-right: 5px;
}

.status {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  width: 90px;
}

.active {
  color: #214e4e;
}

.active::before {
  content: "";
  background-color: #68c070;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  color: #214e4e;
}

.inactive {
  color: #90443e;
}

.inactive::before {
  content: "";
  background-color: #90443e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.search {
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fff;
}

.actions {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.addTeacher {
  background-color: #1d3e3e;
  color: #fff;
  font-weight: 600;
  padding: 0px 20px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.qualification {
  font-size: 25px;
}
